html{
    font-size: 62.5%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-image: url("images/background-mountains-landscape_23-2148267131.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


main{
    min-height : 100vh;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    margin: auto;
    /* padding: 4rem; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.background-clip{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;    
}

.search{
    margin-top: 10rem;
    width: 25rem;
    height: 4rem;
    background:transparent;
    display: flex;
    border: none;
    border-radius: 2rem;
    justify-content: space-between;
    text-align: center;
    padding: 0 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search input{
    position: relative;
    top: 0;
    left: 0;
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    color: #fff;
    font-weight: 500 ;
}
.search ::placeholder{
    color: #b8acac;
}

.search button{
    position: relative;
    top: 0;
    right: .5rem;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 2rem;
}

.error-msg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.error-msg p{
    font-size: 1.4rem;
    font-weight: 500;
    display: none;
    }

.weather{
    width: 100%;
    text-align: center;
    
}
.weather h1{
    font-size: 3.5rem;
}

img{
    
    aspect-ratio: 3/2;
    height: 4rem;
    object-fit: contain;
    flex-wrap: wrap;
}

.details{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.details-1{
    padding: 2rem;
    border: none;
    border-radius: .7rem; 
}
.details-1 p{
    font-size: 1.34rem;
    font-weight: 400;
}

.riseset{
    display: flex;
    justify-content: center;
    align-items: center;
}

.riseset div{
    background: rgba(0, 0, 0, .3);
    margin: 1rem;
    padding: 2rem;
    border-radius: 1rem;
}
.riseset div img{
    height: 8rem;
}
.riseset div p{
    font-size: 1.7rem;
    font-weight: 500;
}

@media (width<500px){
    .search{
        margin-top: 3rem;
    }
}





  .container {
    --uib-size: 60px;
    --uib-color: #fff;
    --uib-speed: 2.5s;
    --uib-dot-size: calc(var(--uib-size) * 0.18);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--uib-size);
    height: var(--uib-dot-size);
    margin-bottom: .5rem;
  }

  .dot {
    position: absolute;
    top: calc(50% - var(--uib-dot-size) / 2);
    left: calc(0px - var(--uib-dot-size) / 2);
    display: block;
    height: var(--uib-dot-size);
    width: var(--uib-dot-size);
    border-radius: 50%;
    background-color: var(--uib-color);
    animation: stream var(--uib-speed) linear infinite both;
    transition: background-color 0.3s ease;
  }

  .dot:nth-child(2) {
    animation-delay: calc(var(--uib-speed) * -0.2);
  }

  .dot:nth-child(3) {
    animation-delay: calc(var(--uib-speed) * -0.4);
  }

  .dot:nth-child(4) {
    animation-delay: calc(var(--uib-speed) * -0.6);
  }

  .dot:nth-child(5) {
    animation-delay: calc(var(--uib-speed) * -0.8);
  }

  @keyframes stream {
    0%,
    100% {
      transform: translateX(0) scale(0);
    }

    50% {
      transform: translateX(calc(var(--uib-size) * 0.5)) scale(1);
    }

    99.999% {
      transform: translateX(calc(var(--uib-size))) scale(0);
    }
  }


